# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv
env/
venv/
fresh_env/
ENV/

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/

# Ignore the model directory to prevent huge pushes
# saved_summary_model/